<section class="card">

  <a href="https://mythrillfiction.com/" target="_blank"></a>

  <section id="contenedor-grafica-tangente">
    <canvas id="tabla"></canvas>
  </section>

  <section class="contenedor-datos">
    <div class="contenedor-div-form">
      <input placeholder="w" class="input" type="number" [(ngModel)]="omega">
      <input placeholder="t recorrido final" class="input" type="number" [(ngModel)]="tiempoF">
      <input placeholder="paso del tiempo" class="input" type="number" [(ngModel)]="tiempoR">
      <input placeholder="amplitud" class="input" type="number" [(ngModel)]="numero">
      <input placeholder="φ" class="input" type="number" [(ngModel)]="fi">
    </div>

  <button class="buttom-graphic" (click)="updateGraphicChart()" >Graphic</button>

  </section>
</section>
