<p>graphic-lineal works!</p>

<div style="display: block;">

  <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, odio! Accusamus, expedita quos? Accusamus nihil quas id commodi labore pariatur soluta aut voluptate vero, ducimus libero facilis repudiandae dolorum qui!
  Assumenda natus magnam tempora iste tenetur maiores harum consectetur ducimus sunt rerum? Itaque asperiores ratione rem molestias perferendis quisquam assumenda. Quod earum suscipit molestiae ipsum ad nam ea aspernatur saepe! -->

  <canvas #tablet id="tabla"></canvas>

  <p>Ingrese los grados: <input type="text" [(ngModel)]="numero"></p>
  <p> {{ numero }}</p>
  <button (click)="'renderGraphicChart()'" >Toggle</button>
  <!-- <button (click)="grafica(numero)" >Update</button> -->
  <script></script>
</div>
