<section class="tituloPresentacion">
  <h1>Departamento de ciencias Basicas</h1>
</section>
<hr>
<section class="containerPrincipalAbout" >

  <section class="info mision" data-aos="fade-up-left">
    <h3 class="titulo" > Mision </h3>
    <p class="description" > Formamos integralmente personas competentes, fundamentadas en criterios socio-humanísticos, comprometidos con la responsabilidad social y la consolidación del desarrollo sostenible de la región. </p>
  </section>

  <section class="info vision" data-aos="fade-up-left">
    <h3 class="titulo" > Vision </h3>
    <p class="description" > Unimeta para el 2025 se consolida como una Institución reconocida por la pertinencia y la calidad de sus programas, su aporte pedagógico a la educación superior y su contribución al desarrollo sostenible de la región. </p>
  </section>

</section>

<section class="infoExtra">

  <section class="AcercaDe">
    <h4> Acerca De </h4>
    <p class="profesores" > Profesores </p>
    <p class="Programadores" > Programadores </p>
  </section>

  <section class="explora">
    <h4> Explora </h4>
    <p class="Laboratorios" data-aos="fade-up-left"> Laboratorios </p>
    <p class="Asignaturas" data-aos="fade-up-left"> Asignaturas </p>
  </section>

</section>
