<h1 class="titlePresent">Departamento de ciencias basicas</h1>
<section class="containerPresent">

  <section class="info">
    <h1>Profesores acargos</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, vitae aliquam soluta veniam explicabo, pariatur ratione cupiditate voluptas quae fuga fugit obcaecati praesentium expedita reprehenderit rem nisi eos, ipsam eius!</p>
  </section>

  <section class="carousel">
    <div class="containerData" >
      <section class="animationsMove1 pos1" >
        <img class="photoTeacher" src="./assets/images/grafica.jpeg" alt="Image Teacher">
        <h2 class="titleTeacher">  Profesor Calculo I  </h2>
        <p class="descriptionTeacher" > descripcion </p>
      </section>

      <section class="animationsMove2 pos2" >
        <img class="photoTeacher" src="./assets/images/grafica.jpeg" alt="Image Teacher">
        <h2 class="titleTeacher">  Profesor Fisica I  </h2>
        <p class="descriptionTeacher" > descripcion </p>
      </section>

      <section class="animationsMove3 pos3" >
        <img class="photoTeacher" src="./assets/images/grafica.jpeg" alt="Image Teacher">
        <h2 class="titleTeacher">  Profesora Algebra  </h2>
        <p class="descriptionTeacher" > descripcion </p>
      </section>
    </div>
  </section>

</section>

<section class="containerTeacher">

</section>


