/* .contenedor{
  background-color: blueviolet;
  color: white;
}

.contenedor h1{
  position: inherit;
  top: 100px;
} */
@media screen and (min-width: 1024px){
  /* CONTENEDOR NAVAR */
  .Menu-Logo{
    /* NOMBRE CULERO */
    background-color: #E30614;
  }

  .Menu-Logo{
    /* LOGO */
    height: auto;
  }

  .contenedor-navar{
      /* CONTENEDOR NAVAR UNIMETA */
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    justify-items: end;
    align-items: center;
  }

  .contenedor-navar img{
    /* IMAGEN LOGO */
    width: auto;
    height: 90px;
  }

  .IconNav2{
    display: contents;
    background-color: transparent;
    cursor: pointer;
  }
  .bi-list {
    font-size: 2.5rem;
    color: #FFFFFF;
  }


  mat-sidenav-container{
    width: 100%;
    height: auto;
  }

}
