*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
  body{
    background-color: #191c29;
  }
@media screen and (min-width: 1024px){
  /* CONTENEDOR NAVAR */

  mat-toolbar{
    width: 100%;
  }

  .Menu-Logo{
    /* LOGO */
    width: 100%;
    height: auto;
    background-color: #E30614;
  }

  .contenedor-navar{
      /* CONTENEDOR NAVAR UNIMETA */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .contenedor-navar img{
    /* IMAGEN LOGO */
    width: auto;
    height: 120p;

  }
  .contenedor-navar .IconNav2 {
    background-color: transparent;
    border-radius: 5px;
    color: white;
    border-style: none;
  }
  .contenedor-navar .IconNav2 .bi.bi-list {
    font-size: 40px;
  }


  mat-sidenav-container{
    width: 100%;
    height: auto;
    
  }

}
