  <header class="encabezado">
    <section class="titulo">
      <h1>Interacciones</h1>
    </section>
    <section class="buscar">
      <input type="buscar">
    </section>
  </header>
  <hr>
<section class="contenedor-interaciones">
  
  <button class="botones-interaciones" routerLink="/graphicLine">
    <section class="contenedor-datos">
      <h1 class="titulo">Movimiento armonico simple</h1>
    </section>
    <img
      class="imagen"
      src="../../../assets/images/grafica.jpeg"
      alt="gradica"
    />
  </button>

  <button class="botones-interaciones" routerLink="/tagencialLine">
    <section class="contenedor-datos">
      <h1 class="titulo">Funcion tagencial</h1>
    </section>
    <img
      class="imagen"
      src="../../../assets/images/WhatsApp Image 2022-09-16 at 2.28.32 AM.jpeg"
      alt="gradica"
    />
  </button>
  <button class="botones-interaciones" routerLink="/senoLine">
    <section class="contenedor-datos">
      <h1 class="titulo">Funcion del Seno</h1>
    </section>
    <img
      class="imagen"
      src="../../../assets/images/seno1.png"
      alt="gradica"
    />
  </button>
</section>
